extends layout

block content
  h1=title

  form(method='POST' action='')
    div.form-group
      label(for='article') article:
      select#article.form-control(type='select', placeholder='Select article' name='article' required='true' )
        - article_list.sort(function(a, b) {let textA = a.title.toUpperCase(); let textB = b.title.toUpperCase(); return (textA < textB) ? -1 : (textA > textB) ? 1 : 0;});
        for article in article_list
          option(value=article._id, selected=(selected_article==article._id.toString() ? 'selected' : false) ) #{article.title}
        
    div.form-group
      label(for='imprint') Imprint:
      input#imprint.form-control(type='text', placeholder='Publisher and date information' name='imprint' required='true' value=(undefined===articleinstance ? '' : articleinstance.imprint) )
    div.form-group
      label(for='due_back') Date when article available:
      input#due_back.form-control(type='date', name='due_back' value=(undefined===articleinstance ? '' : articleinstance.due_back_yyyy_mm_dd))
            
    div.form-group
      label(for='status') Status:
      select#status.form-control(type='select', placeholder='Select status' name='status' required='true' )
        option(value='Maintenance' selected=(undefined===articleinstance || articleinstance.status!='Maintenance' ? false:'selected')) Maintenance
        option(value='Available' selected=(undefined===articleinstance || articleinstance.status!='Available' ? false:'selected')) Available
        option(value='Loaned' selected=(undefined===articleinstance || articleinstance.status!='Loaned' ? false:'selected')) Loaned
        option(value='Reserved' selected=(undefined===articleinstance || articleinstance.status!='Reserved' ? false:'selected')) Reserved

    button.btn.btn-primary(type='submit') Submit

  if errors 
    ul
      for error in errors
        li!= error.msg
